

.homeContainer{
  max-width: 1350px;
  margin-inline: auto;
}
.heroGrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* margin-inline: 4rem; */
  gap: .5rem;
  padding-top: 2rem;
  
  margin-inline: auto;
}
.heroContent{
  background-color: var(--clr-primary);
  border-radius: 1.25rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  color: var(--clr-neutral);
  position: relative;
}

.heroText{
  margin-bottom: 6rem;
  color: var(--clr-neutral);
  
}
.heroImg{
  border-radius: 1.25rem;
}

.myImg{
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  
}
.heroBtns{
  position: absolute;
  bottom: 4rem;

}
.heroBtn{
    padding-inline: 4rem;
    padding-block: 1.2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: var(--clr-neutral);
    font-size: var(--fs-btn);
    color: var(--clr-primary);
    border: 1.5px solid black;
}
.heroBtn2{
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}
.workContainer{
   max-width: 1350px;
   margin-inline: auto;
}
.primaryContainer{
    padding-top: 6rem;  
  }
  .primaryContainer h1{
    border-bottom: 2px solid var(--clr-primary);
    margin-bottom: .5em;
    padding-bottom: .5em;
    margin-inline: 1rem;
  }
.subContainer{
    background-color: var(--clr-primary);
    border-radius: .5rem;
    padding-top: 4rem;
    margin-block: 2rem;
}
.workContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-neutral);
    padding-bottom: 2rem;
    padding-inline: 2rem;
    gap: .5rem;
    flex-wrap: wrap;
}
.workContent button{

        padding-inline: 4rem;
        padding-block: 1rem;
        border-radius: 2rem;
        border: none;
        cursor: pointer;
        background-color: var(--clr-neutral);
        font-size: var(--fs-btn);
        color: var(--clr-primary);
        border: 1.5px solid rgb(225, 225, 225);
}
.bottomGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding-inline: .3rem;
    padding-block: .5rem;
}
  
  .image {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: auto;
    border-radius: .5rem;
  }
  
  
  
@media (max-width: 580px) {
    .workContent{
        padding-inline: 1rem;
    }
    .bottomGrid{
      grid-template-columns: 1fr;
      /* padding-inline: 0; */
    }
    .image{
      aspect-ratio: 1/.6;
    }
    }
  