.contactH{
    padding-bottom: 2rem;
}

.formContainer{
    background-color: var(--clr-primary);
  color: var(--clr-neutral);
  border-radius: .5rem;
  margin-top: 4rem;
  padding-block: 2rem;
  padding-inline: 1.5rem;
}

.form {
    max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  
}
  .formGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
  }


.field {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  padding: 0.75rem;
  border: 1px solid var(--clr-neutral);
  border-radius: 8px;
}

.textarea {
  resize: none;
}
.label{
    padding-bottom: .25rem;
}

.button {
  cursor: pointer;
  display: inline-block; 
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--clr-primary);
  padding-inline: 4rem;
  padding-block: 1rem;
  border-radius: 2rem;
  background-color: var(--clr-neutral);
  color: var(--clr-primary);
  margin-block: 2rem;
  font-size: var(--fs-btn);
  transition: all 0.3s ease;

}

.button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  border: 1px solid var(--clr-neutral);
}

@media (max-width: 580px) {
    .formGrid{
      grid-template-columns: 1fr;
    }
    }